# Firebase Configuration

# Get these values from Firebase Console > Project Settings > General > Your apps > SDK setup and configuration
# Select "npm" and copy the values below

# NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBQPVgnOpBaxjQQ9n95Jls1xd2fqWvZu5I
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=daraz-store-78d85.firebaseapp.com
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=daraz-store-78d85
# NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=daraz-store-78d85.firebasestorage.app
# NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=979981588869
# NEXT_PUBLIC_FIREBASE_APP_ID=1:979981588869:web:3d1dec6e01a6ecd21a8cec
